@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-libre_franklin), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-libre_franklin), sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-bg {
    background: url('/static/css/bg.jpeg');
    background-repeat: no-repeat;
    background-color: #211f31;
    background-size: cover;
    backdrop-filter: blur(5px);
}

main {
    flex-grow: 1;
    width: 100%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}