{{define "edit_success_alert"}}
<div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
    <p class="font-bold">Success!</p>
    <p>Website has been successfully saved</p>
</div>
{{end}}

{{define "delete_success_alert"}}
<div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
    <p class="font-bold">Success!</p>
    <p>Website has been removed</p>
    <button type="button" onclick="history.back()"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 float-right -mt-8 rounded focus:outline-none focus:shadow-outline">
        back
    </button>
</div>
{{end}}

{{define "edit_error_alert"}}
<div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
    <p class="font-bold">Error!</p>
    <p>Something went wrong. Please try again later.</p>
</div>
{{end}}

{{define "edit"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body>
    {{template "header" .}}
    <main class="flex items-center max-w-screen-xl mx-auto px-8">
        <div class=" w-full  mx-auto">
            <div id="card" class="w-full p-4 sm:p-6 md:p-8 block bg-white border border-gray-200 rounded-lg shadow ">
                <div class="flex w-full justify-between">
                    <h1 class="text-xl font-semibold mb-4">Website Form</h1>
                    {{if .ID}}
                    <a data-hx-get="/delete/{{.ID}}" data-hx-target="#card"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>
                    </a>
                    {{end}}
                </div>
                <form hx-post="/edit/{{.ID}}" hx-trigger="submit" hx-target="#alerts">
                    <div class="mb-4">
                        <label for="websiteName" class="block text-gray-700 font-bold mb-2">Website Name</label>
                        <input type="text" id="websiteName" name="Name" value="{{.Name}}"
                            class="border-2 border-gray-200 rounded-lg p-2 w-full focus:outline-none focus:border-blue-500"
                            placeholder="Enter website name" required>
                    </div>
                    <div class="mb-4">
                        <label for="websiteURL" class="block text-gray-700 font-bold mb-2">Website URL</label>
                        <input type="url" id="websiteURL" name="Url" value="{{.Url}}"
                            class="border-2 border-gray-200 rounded-lg p-2 w-full focus:outline-none focus:border-blue-500"
                            placeholder="Enter website URL" {{if .ID}}disabled{{end}}>
                    </div>
                    <div class="mb-4">
                        <label for="websiteDescription" class="block text-gray-700 font-bold mb-2">Website
                            Description</label>
                        <textarea id="websiteDescription" name="Description"
                            class="border-2 border-gray-200 rounded-lg p-2 w-full focus:outline-none focus:border-blue-500"
                            placeholder="Enter website description">{{.Description}}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="tags" class="block text-gray-700 font-bold mb-2">Tags</label>
                        <input type="text" id="tags" name="Tags" {{if .Tags }}value="{{range .Tags}}{{.}}, {{end}}"
                            {{end}}
                            class="border-2 border-gray-200 rounded-lg p-2 w-full focus:outline-none focus:border-blue-500"
                            placeholder="Enter tags (comma-separated)">
                    </div>

                    <div id="alerts"></div>



                    <div class="flex justify-between">
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Save
                        </button>
                        <button type="button" onclick="history.back()"
                            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {{template "footer" .}}
</body>

</html>
{{end}}