{{define "search"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body>
    {{template "header" .}}
    <main>
        <div class="p-4 max-w-screen-xl mx-auto">
            {{template "search_form" .}}
            {{template "search_results" .}}
        </div>
    </main>
    {{template "footer" .}}
</body>

</html>
{{end}}


{{define "search_results"}}
<div class="flex flex-col items-center gap-2 px-8 py-4">
    {{range .Results}}
    <div class="border w-full border-gray-400 rounded-lg md:p-4 bg-white sm:py-1 py-2 px-2">
        <div class="flex justify-between align-middle">
            <h2 class="text-2xl font-bold mb-2 hover:text-blue-600 leading-7">
            <a href="{{.Url}}" id="article-link-151230">{{.Name}}</a>
        </h2>
        <a href="/edit/{{.ID}}" type="button" class=" text-sm px-3 py-2 text-current hover:text-black">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                </a>
        </div>
        <div class="mb-2">
            {{range .Tags}}
            <a href="#" class="text-sm text-gray-600 p-1 hover:text-black">
                <span class="text-opacity-50">#</span>
                {{.}}
            </a>
            {{end}}
        </div>
        <div class="mb-1 leading-6">{{.Description}}</div>
        <div class="flex justify-between items-center">
            <div class="flex">
                {{template "favourite_btn" .}}
            </div>
            <div class="flex items-center">
                <small class="mr-2 text-gray-600">Updated: {{.Meta.LastModified.Format "Jan 02 2006"}}</small>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}

{{define "favourite_btn"}}
<button data-hx-post="/fav/{{.ID}}" data-hx-swap="outerHTML" class="py-1 pl-1 pr-2 text-gray-600 text-sm rounded hover:bg-gray-100 hover:text-black {{if .FavouritedByUser}}bg-red-600 text-white {{end}} ">
    <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
        </path>
    </svg>
    {{len .Favourite}}
</button>
{{end}}