{{define "edit_success_alert"}}
<div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
    <p class="font-bold">Success!</p>
    <p>Website has been successfully saved</p>
</div>
{{end}}

{{define "delete_success_alert"}}
<div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
    <p class="font-bold">Success!</p>
    <p>Website has been removed</p>
    <button type="button" onclick="history.back()"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 float-right -mt-8 rounded focus:outline-none focus:shadow-outline">
        back
    </button>
</div>
{{end}}

{{define "edit_error_alert"}}
<div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
    <p class="font-bold">Error!</p>
    <p>Something went wrong. Please try again later.</p>
</div>
{{end}}

{{define "link_form"}}   
    <div>
        <label for="title" class="block text-sm font-medium text-gray-700 ">
            Website Name
        </label>
        <div class="mt-1">
            <input id="title" autocomplete="title" required=""
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 r-gray-400"
                type="text" name="title" value="{{.Link.Title}}" />
        </div>
    </div>
    <div>
        <label for="url" class="block text-sm font-medium text-gray-700 ">
            Website URL
        </label>
        <div class="mt-1">
            <input id="url" autocomplete="url" required=""
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 "
                type="text" name="url" value="{{.Link.Url}}" />
        </div>
    </div>

    <div>
        <label for="icon" class="block text-sm font-medium text-gray-700 ">
            Website Icon
        </label>
        <div class="mt-1 flex gap-4 items-center">
            <input id="icon" autocomplete="icon" required=""
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 "
                type="text" name="icon" value="{{.Link.Icon}}" />
            <button
                class="items-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 flex justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2"
                hx-post="/dashboard/link/icon"
                hx-target="#icon"
                hx-swap="outerHTML"
            >auto detect</button>
        </div>
    </div>



    <div>
        <label for="description" class="block text-sm font-medium text-gray-700 ">
            Website Description
        </label>
        <div class="mt-1">
            <textarea id="description" name="description" rows="3"
                class="block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 "
                placeholder="Describe your website...">{{.Link.Description}}</textarea>
        </div>
    </div>
    <div>
        <label for="tags" class="block text-sm font-medium text-gray-700">
            Tags
        </label>
        <div class="mt-1">
            <input id="tags" autocomplete="tags" required=""
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 "
                placeholder="Enter tags separated by commas" type="text" name="tags" value="{{.Link.Tags}}" />
        </div>
    </div>
    <div>
        <label for="shareing" class="block text-sm font-medium text-gray-700">
            Shareing
        </label>
        <div class="mt-1">
            <select
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 "
                onchange="onShareingChange(this)"
                name="sharing"
                value="{{.Link.Sharing}}"
            >
                {{range .Shareing }}
                  <option value="{{.}}" {{ if eq . $.Link.Sharing }} selected="selected"{{ end }}>{{.| ShareingFormat}}</option>  
                {{ end }}
            </select>
        </div>
    </div>
    <div id="team-section" {{ if ne "TEAM" $.Link.Sharing }} class="hidden" {{ end }} >
        <label for="tags" class="block text-sm font-medium text-gray-700">
            Team
        </label>
        <div class="mt-1">
            <div class="overflow-y-auto max-h-28 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 ">
                {{range .Teams}}
                            <div class="mb-4">
                                <label class="inline-flex items-center">
                                    <input 
                                        type="checkbox" 
                                        name="team[]" 
                                        value="{{.Id}}"
                                        {{if IncludesTeam . $.SelectedTeams}}checked{{end}}
                                        class="form-checkbox h-5 w-5 text-blue-600"/>
                                    <span class="ml-2 text-gray-700">{{.Name}}</span>
                                </label>
                            </div>
                {{end}}
                </div>
        </div>
    </div>
    <div class="flex items-center justify-between">
        <button
            class="items-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 flex w-full justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2"
            type="submit">
            Save Link
        </button>
        <button
            class="items-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-10 ml-4 flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 "
            type="button"
            onclick="history.back()">
            Cancel
        </button>
    </div>
<script>
    function onShareingChange(e) {
        var element = document.getElementById("team-section");
        e.value === "TEAM"
            ? element.classList.remove("hidden")
            : element.classList.add("hidden");
    }
</script>
{{end}}