{{define "fav_dashboard"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body hx-ext="preload">
  <div class="h-screen flex flex-col">
    {{template "topnav" .User}}
    <div class="flex flex-grow overflow-hidden flex-col lg:flex-row">
      {{template "sidebar"}}
      {{template "fav_dashboard_content" .Data}}
    </div>
  </div>
</body>
</html>
{{end}}

{{define "fav_dashboard_content"}}
<main class="flex-1 overflow-y-auto px-6">
    <section class="py-6">
        <div class="mb-4">
            <div class="flex w-full items-center justify-between flex-col lg:flex-row space-y-4">
                <h2 class="text-2xl font-semibold">My Favorites</h2>
                <div class="flex items-center gap-4 w-full lg:w-72">
                    <input
                        class="flex w-full h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        placeholder="Filter Favourites..." type="search" name="search"
                        hx-post="/dashboard/favourites" hx-trigger="input changed delay:500ms, search"
                        hx-target="#search-results" hx-indicator=".htmx-indicator">
                </div>
            </div>
        </div>
        <div class="relative w-full overflow-auto" id="search-results">
            {{template "link_fav_table" .}}
        </div>
    </section>
</main>
{{end}}

{{define "link_fav_table"}}
{{if lt (len .Links) 1}}
<div class="p-8">
    <span class="h-96 block">{{template "not_found_icon"}}</span>
    <h1 class="text-center mt-4 text-lg">No results found</h1>
</div>
{{else}}
    {{range .Links}}
    <div id="link-{{.Id}}" class="grid grid-cols-1 lg:grid-cols-[24rem_1fr_1fr_100px] justify-between border-b transition-colors" >
        <div class="p-4 align-middle  flex items-center gap-2 w-full lg:w-96">
            <img src="{{.Icon}}" alt="Blog Logo" width="24" height="24" class="h-6 w-6"
            style="aspect-ratio: 24 / 24; object-fit: cover;" />
            <div class="font-medium">{{.Title}}</div>
        </div>
        <div class="p-4 align-middle">
            <div class="text-gray-500 dark:text-gray-400">
                <a href="/link/{{.Id}}">{{.Url}}</a>
            </div>
        </div>
        <div class="p-4 align-middle">
            <div class="line-clamp-2 text-gray-500 dark:text-gray-400">
                {{.Description}}
            </div>
        </div>
        <div class="p-4 align-middle flex items-center">
            <div class="flex items-center gap-2">
                <button hx-delete="/dashboard/favourites/{{.Id}}" hx-confirm="Are you sure you want to unfavorite this link?"
                    hx-target="#link-{{.Id}}" hx-swap="outerHTML:remove"
                    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2  hover:bg-zinc-900 hover:text-white  border border-gray-200 rounded-md p-2">
                    {{template "delete_icon"}}
                </button>
            </div>
        </div>
    </div>
    {{end}}
    {{end}}
{{end}}