{{define "link_table_header"}}
<thead class="[&amp;_tr]:border-b">
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
        <th
            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
            Title
        </th>
        <th
            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
            URL
        </th>
        <th
            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
            Description
        </th>
        <th
            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
            Actions
        </th>
    </tr>
</thead>
{{end}}
