{{define "search_card"}}
<div class="rounded-lg border shadow-sm bg-white text-gray-950 hover:shadow-lg transition-shadow flex flex-col justify-between  "
    data-v0-t="card">
    <div class="px-6 pt-6 space-y-2">
        <div class="flex items-center gap-2">
            <img src="https://news.ycombinator.com/y18.svg" alt="Blog Logo" width="24" height="24" class="h-6 w-6"
                style="aspect-ratio: 24 / 24; object-fit: cover;" />
            <h3 class="text-lg font-medium">
                <a class="hover:underline text-gray-950" href="/link/{{.Link.Id}}">
                    {{.Title}}
                </a>
            </h3>
        </div>
        <p class="text-sm text-gray-500">{{.Description}}</p>
    </div>
    <section class="flex justify-between">
        <div class="flex flex-col items-start gap-2 pb-6">
            <div data-orientation="horizontal" role="none" class="shrink-0 bg-gray-100 h-[1px] w-full my-2"></div>
            {{template "share_section" .}}
            <div class="flex items-center gap-2 px-6">
                {{template "calendar_icon"}}
                <span class="text-sm text-gray-500">
                    {{ .Updated.Format "2 Jan 2006" }}
                </span>
            </div>
        </div>
        <div class="flex justify-center align-middle">
            {{template "fav_btn" .}}
        </div>
    </section>
</div>
{{end}}

{{define "share_section"}}
<div class="flex items-center gap-2 px-6">
    {{if eq .Sharing "TEAM"}}
    {{template "team_icon"}}
    <span class="text-sm text-gray-500">Team</span>
    {{else if eq .Sharing "PRIVATE"}}
    {{template "private_icon"}}
    <span class="text-sm text-gray-500">Private</span>
    {{else}}
    {{template "public_icon"}}
    <span class="text-sm text-gray-500">Public</span>
    {{end}}
</div>
{{end}}