{{define "create_team_dashboard"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body hx-ext="preload">
  <div class="h-screen flex flex-col">
    {{template "topnav" .User}}
    <div class="flex flex-grow overflow-hidden flex-col lg:flex-row">
      {{template "sidebar"}}
      {{template "create_team_content" .Data}}
    </div>
  </div>
</body>
</html>
{{end}}

{{define "create_team_content"}}
<main class="flex-1 overflow-y-auto px-6 py-8">
  <div class="flex flex-col rounded-lg border bg-card text-card-foreground shadow-sm p-6 divide-y mb-4">
    <section class="space-y-4">
      <h1 class="text-3xl font-bold">Create Team</h1>
      <div id="message"></div>
      <form class="space-y-6" hx-put="/dashboard/team" hx-target="#message">
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="name">
            Team Name
          </label>
          <input
            class="block w-full appearance-none rounded-md border border-gray-300 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500"
            name="name" placeholder="Enter team name"/>
        </div>
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="description">
            Description
          </label>
          <textarea
          class="block w-full appearance-none rounded-md border border-gray-300 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 min-h-[100px]"
            name="description" placeholder="Enter team description"></textarea>
        </div>
        <div>
          <label for="visability" class="block text-sm font-medium text-gray-700">
              Shareing
          </label>
          <div class="mt-1">
              <select
              class="block w-full appearance-none rounded-md border border-gray-300 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500"
                  onchange="onShareingChange(this)"
                  name="visability"
              >
                  {{range .Visability }}
                    <option value="{{.}}">{{.| ShareingFormat}}</option>  
                  {{ end }}
              </select>
          </div>
        </div>
        <section class="flex justify-end">
          <button
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-zinc-900 hover:text-white h-10 px-8 py-2 rounded-md"
            type="submit">
            Create
          </button>
        </section>
      </form>
      <script>
        document.addEventListener("htmx:afterOnLoad", function(evt) {
            var redirectUrl = evt.detail.xhr.getResponseHeader("HX-Redirect");
            if (redirectUrl) {
                window.location.href = redirectUrl;
            }
        });
    </script>
    </section>
  </div>
</main>
{{end}}