{{define "team_edit"}}
<main class="flex-1 overflow-y-auto px-6 py-8">
  <div class="flex flex-col rounded-lg border bg-card text-card-foreground shadow-sm p-6 divide-y mb-4">
    <section class="space-y-4">
      <h1 class="text-3xl font-bold">Edit Team</h1>
      <div id="message"></div>
      <form class="space-y-6" hx-post="/dashboard/team/{{.Team.Id}}" hx-target="#message">
        <div class="space-y-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="name">
            Team Name
          </label>
          <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            name="name" placeholder="Enter team name" value="{{.Team.Name}}" />
        </div>
        <div class="space-y-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="description">
            Description
          </label>
          <textarea
            class="flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[100px]"
            name="description" placeholder="Enter team description">{{.Team.Description}}</textarea>
        </div>
        <section class="flex justify-end">
          <button
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 rounded-md"
            type="submit">
            Update
          </button>
        </section>
      </form>
    </section>
  </div>
  <div class="flex flex-col rounded-lg border bg-card text-card-foreground shadow-sm p-6 divide-y mb-4">
    <section class="space-y-4">
      <h2 class="text-lg font-medium">
        Team Members
      </h2>
      <div class="grid gap-4 py-4" id="members">
        {{template "team_members" .}}
      </div>

      <form class="flex flex-col lg:flex-row justify-between w-full items-center gap-2" hx-put="/dashboard/team/{{.Team.Id}}/members" hx-target="#members">
        <input
          class="flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
          placeholder="Enter new member email" type="text" name="email" />

        <span class="flex flex-row items-center gap-2 w-full lg:w-auto" >
          <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full lg:w-64  "
            name="permission">
            {{range .Permissions }}
            <option value="{{.}}">{{.}}</option>
            {{ end }}
          </select>
          <button
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 rounded-md"
            type="submit">
            Add User
          </button>
        </span>


      </form>
    </section>
  </div>
  <div class="flex flex-col rounded-lg border bg-card text-card-foreground shadow-sm p-6 divide-y">
    <section>
      <h1 class="text-3xl font-bold py-4">Team links</h1>
      {{template "link_table" .Team}}
      {{template "link_table" .Team}}
      </tbody>
      </table>
      {{template "link_table" .Team}}
      </tbody>
      </table>
    </section>
  </div>
</main>
{{end}}

{{define "team_members"}}
{{range .Memebers}}
<div class="flex flex-col gap-2 lg:flex-row items-center justify-between border-b py-4" id="member-{{.User.Id}}">
  <div class="flex items-center gap-4 w-full">
    <img
      src="https://auth.exceptionerror.io/assets/v1/253095245611335757/users/254393878633775189/avatar?v=f7b2d6b6421901943d0e0ffcbcb41161"
      class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full" />
    <div>
      <p class="text-sm font-medium leading-none">{{.User.Username}}</p>
      <p class="text-sm text-gray-500 dark:text-gray-400">{{.User.Email}}</p>
    </div>
  </div>
  <div class="flex items-center gap-2 w-full">
    {{$permission := .Permission}}
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
      hx-post="/dashboard/team/{{$.Team.Id}}/members" hx-vals='js:{"email":"{{.User.Email}}"}' hx-target="#members"
      name="permission" value="{{$permission}}">
      {{range $.Permissions }}
      <option value="{{.}}" {{ if eq . $permission }} selected="selected" {{ end }}>{{.}}</option>
      {{ end }}
    </select>
    <button
      class="p-2.5 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground  border border-gray-200 rounded-md"
      hx-delete="/dashboard/team/{{$.Team.Id}}/members" hx-confirm="Are you sure you want to delete this item?"
      hx-target="#member-{{.User.Id}}" hx-vals='js:{"email":"{{.User.Email}}"}' hx-swap="outerHTML:remove">
      {{template "delete_icon"}}
    </button>

  </div>
</div>
{{end}}
{{end}}