{{define "edit_team_dashboard"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body hx-ext="preload">
  <div class="h-screen flex flex-col">
    {{template "topnav" .User}}
    <div class="flex flex-grow overflow-hidden flex-col lg:flex-row">
      {{template "sidebar"}}
      {{template "team_edit" .Data}}
    </div>
  </div>
</body>
</html>
{{end}}

{{define "teams_dashboard"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body hx-ext="preload">
  <div class="h-screen flex flex-col">
    {{template "topnav" .User}}
    <div class="flex flex-grow overflow-hidden flex-col lg:flex-row">
      {{template "sidebar"}}
      {{template "teams_dashboard_content" .Data}}
    </div>
  </div>
</body>
</html>
{{end}}

{{define "teams_dashboard_content"}}
<main class="flex-1 overflow-y-auto px-6 flex flex-col divide-y">
    <section class="py-6">
        <div class="mb-4">
            <div class="flex items-center justify-between flex-col lg:flex-row space-y-4">
                <h2 class="text-2xl font-semibold">Teams</h2>
                <div class="flex items-center gap-4">
                    <input
                        class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-72"
                        placeholder="Filter teams..." type="search" name="search"
                        hx-post="/dashboard/teams" hx-trigger="input changed delay:500ms, search"
                        hx-target="#search-results" hx-indicator=".htmx-indicator"/>

                    <a href="/dashboard/team" class="whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-zinc-900 hover:text-white h-10 px-4 py-2 rounded-md">
                        Create Team
                    </a>
                </div>
            </div>
        </div>
        <div id="search-results" class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 mb-4">
          {{if gt (len .) 0}}
                {{template "team_cards" .}}
            {{else}}
            <div class="p-8">
                    <span class="h-96 block">{{template "not_found_icon"}}</span>
                    <h1 class="text-center mt-4 text-lg">No results found</h1>
            </div>
            {{end}}
        </div>
    </section>
</main>
{{end}}

{{define "team_cards"}}
{{ range . }}
{{template "team" .}}
{{ end }}
{{end}}